body{
   
}

.card-title{
    color: rgb(22, 116, 188);

}

.card{
    border: none !important;
} 

.tagline {
    background: url(/website/assets/img/bg.jpg) no-repeat center center;
    background-size: 100% 100%;
    height: 600px;
}

h1 {
    font-size: 8em;
}
h4 {
    font-size: 5em;
}

