<!-- your html code here -->
<div class="container d-flex justify-content-between">
    <row class="d-flex justify-content-between ">
        <div class="col-md-9">
            <p class="fs-1">
                <span class=" ">This First Heading</span> <span class="text-body-secondary opacity-50 fw-normal">Will catch your
                    eye</span>
            </p>
            <p class="fs-5 fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus recusandae assumenda cupiditate dignissimos sint distinctio 
                eos dolore maxime. Dolor reprehenderit id soluta necessitatibus laudantium nobis nam, libero a tempore rem!</p>

        </div>
        <div class="col-md-3">
            <img src="assets/img/1.jpg"
                class="rounded-circle ratio ratio-1x1 alt=" ">
    </row>
</div>