<div class="container">
    <div class="titulo">
        <h1> Portfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, vero quae. Tenetur voluptas consectetur
            tempore voluptate adipisci placeat
            eligendi amet, laudantium, qui hic corporis. Sequi asperiores facilis est ipsum doloribus.</p>
    </div>

    <div class="row">

        <div class="card col-4">
            <img src="assets/img/big-project-image.png/" class=" m-top-5"alt="...">

            <div class="card-body">
                <h4 class="card-title">Project Name</h4>
                <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eveniet ea, consectetur et mollitia iusto repellat maxime.</p>
            </div>

        </div>

        <div class="card col-4">
            <img src="assets/img/big-project-image.png/" class=" m-top-5"alt="...">

            <div class="card-body">
                <h4 class="card-title">Project Name</h4>
                <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eveniet ea, consectetur et mollitia iusto repellat maxime.</p>
            </div>

        </div>

        <div class="card col-4">
            <img src="assets/img/big-project-image.png/" class=" m-top-5"alt="...">

            <div class="card-body">
                <h4 class="card-title">Project Name</h4>
                <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eveniet ea, consectetur et mollitia iusto repellat maxime.</p>
            </div>

        </div>

    </div>
</div>