<div class="container my-5 border-top ">
    <div class="titulo mt-5">
        <p class="fs-1"> Portfolio</p>
        <p class="fs-5 fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, vero quae. Tenetur
            voluptas consectetur
            tempore voluptate adipisci placeat
            eligendi amet, laudantium, qui hic corporis. Sequi asperiores facilis est ipsum doloribus.</p>
    </div>

    <div class="row">

        <div class="card col-4">
            <img src="assets/img/big-project-image.png/" class=" m-top-5" alt="...">

            <div class="card-body">
                <p class="card-title fs-3">Project Name</p>
                <p class="card-text fs-6"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eveniet ea,
                    consectetur et mollitia iusto repellat maxime.</p>
            </div>

        </div>

        <div class="card col-4">
            <img src="assets/img/big-project-image.png/" class=" m-top-5" alt="...">

            <div class="card-body">
                <p class="card-title fs-3">Project Name</p>
                <p class="card-text fs-6"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eveniet ea,
                    consectetur et mollitia iusto repellat maxime.</p>
            </div>

        </div>
        
        <div class="card col-4">
            <img src="assets/img/big-project-image.png/" class=" m-top-5" alt="...">

            <div class="card-body">
                <p class="card-title fs-3">Project Name</p>
                <p class="card-text fs-6"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eveniet ea,
                    consectetur et mollitia iusto repellat maxime.</p>
            </div>

        </div>
        

        

    </div>
</div>