<div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-3">
                <img src="assets/img/2.jpg" alt="Imagen redonda" class="rounded-circle">
      
            </div>
            <div class="col-9">
                <h1> The second Heading 
                    <span class="text-body-secondary opacity-50 fw-normal">ls Pretty cool too</span>
                </h1>
                <p class="ps-2 fw-semibold">Donec ullamcoper nulla non auctor fringilla. Vetibulum id ligula porta felis <br>
                euismod semper. Praesent commodo cursus magna, vel scelErisque nisl consectetur.  <br>
            Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div>

    </div>
</div>